services:
  - type: web
    name: linkedin-clone-api
    env: node
    rootDir: server
    plan: free
    autoDeploy: true
    buildCommand: "npm install"
    startCommand: "npm start"
    envVars:
      - key: MONGO_URI
        sync: false
      - key: JWT_SECRET
        sync: false
      - key: PORT
        value: 5000
